{{#if showAd}}
  <div class="google-adsense-label"><h2><a class="house-ad-sign-in" href="#">{{i18n 'adplugin.advertisement_label'}}</a></h2></div>
  {{{adHtml}}}
{{/if}}
// Moved the event listener to the theme </head> template.
